* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: wheat;
}

.grid {
  display: grid;
  grid-template-columns: repeat(100,4px);
  grid-template-rows: repeat(100,4px);
  grid-row-gap: 1px;
  grid-column-gap: 1px;
}

.alive {
  background-color: black;
}

.dead {
  background-color: white;
}
