* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: white;
}

body {
  width: 400px;
  margin: 1rem auto;
}

.grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(100,4px);
  grid-template-rows: repeat(100,4px);
}

.alive {
  background-color: black;
}

.dead {
  background-color: rgba(0,0,0,0);
}

#generations,
#livecells
{
  font-weight: bold;
  color: red;
}

hr {
  margin: 1rem 0;
}
