* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: wheat;
}

body {
  width: 80%;
  margin: 0 auto;
}

.grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(100,4px);
  grid-template-rows: repeat(100,4px);
}

.alive {
  background-color: black;
}

.dead {
  background-color: rgba(0,0,0,0);
}
